html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    background: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

#main-menu .inactive {
    color: #bbb;
}

/* Белое меню на черном фоне */
.white-menu a,
.white-menu span,
.white-menu {
    color: #fff;
}

.marquee-container {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 64px;
    overflow: hidden;
    z-index: 3;
    pointer-events: none;
    background: transparent;
    display: flex;
    align-items: center;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    font-weight: normal;
    color: #111;
    line-height: 1;
    will-change: transform;
    animation: marquee 12s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.bottom-center-text {
    position: absolute;
    left: 50%;
    bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 64px;
    font-weight: normal;
    color: #111;
    line-height: 1.05;
    background: transparent;
    z-index: 2;
    pointer-events: none;
    opacity: 1;
    transition: opacity 2.5s;
}
