html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    background: #fff;
}

a:hover{
    opacity: 0.4;
}
body {
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}
.screen {
    height: 100vh;
    width: 100vw;
    position: relative;
    scroll-snap-align: start;
    overflow: hidden;
}
.first-screen {
    background: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.second-screen {
    background: #000;
}
.header{
    position: fixed;
    left: 0; 
    right: 0;
    display: flex;
    z-index: 2;
    width: 100%;
    justify-content: space-between;
    padding-top: 59px;
    gap: 40px;
}
@media (max-width: 900px) {
    .header{
        flex-direction: column;
        align-items: start;
        justify-content: start;
    }
    .top-right, .top-left{
        padding-left: 32px; 
    }
    .footer{
        padding-inline: 32px !important;
    }
    .side-text, .about-text{
        left: 32px !important;
    }
}

@media (min-width: 900px) {

    .top-left {
        padding-left: 64px;
    }
}

@media (max-width: 700px) {
    .center-text{
        display: none !important;
    }    
}

@media (max-height: 800px) {
    .bottom-center-text{
        display: none !important
    }

    .about-text{
        bottom: -17px !important;
    }
}

.top-left {
    display: flex;
    gap: 30px;
    z-index: 100;
    transition: color 0.4s;
}

.top-left a, .top-left span {
    color: #222;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.4s;
}
.top-left .inactive {
    color: #bbb;
}
.top-right {
    padding-right: 64px;
    display: flex;
    gap: 32px;
    z-index: 100;
    transition: color 0.4s;
}
.top-right a {
    color: #222;
    text-decoration: none;
    font-size: 17px;
    transition: color 0.4s;
}


.footer{    
    display: flex;
    bottom: 24px;
    justify-content: space-between;
    align-items: end;
    padding-inline: 64px;
    padding-bottom: 57px;
    z-index: 10;
    gap: 40px;
}

.cllb-logo{
    box-sizing: border-box;
    height: 64px;
    width: 24px;
}

.corner-logo{
    margin-right: 64px;
}
.bottom-left {
    display: flex;
    gap: 30px;
    font-size: 17px;
    transition: color 0.4s;
}

.bottom-left a {
    display: flex;
    align-items: center;
    column-gap: 16px;
    color: #222;
    text-decoration: none;
}
.bottom-left span {
    margin-left: 4px;
    font-size: 16px;
    vertical-align: middle;
}
/* Белое меню на черном фоне */
.white-menu a, .white-menu span, .white-menu {
    color: #fff !important;
}
/* Основной контент первого экрана */
.main-content {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: relative;
}
.side-text {
    position: absolute;
    left: 64px;
    top: 200px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 64px;
    font-weight: normal;
    color: #111;
    line-height: 1.05;
    background: transparent;
    z-index: 2;
    pointer-events: none;
}
.center-text {
    position: absolute;
    left: 50%;
    top: 200px;
    transform: translateX(0);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 64px;
    font-weight: normal;
    color: #111;
    line-height: 1.05;
    background: transparent;
    z-index: 2;
    pointer-events: none;
}
.side-text .spacer,
.center-text .spacer {
    height: 1em;
}
.marquee-container {
    position: absolute;
    left: 0;
    top: 267px;
    width: 100vw;
    height: 64px;
    overflow: hidden;
    z-index: 3;
    pointer-events: none;
    background: transparent;
    display: flex;
    align-items: center;
}
.marquee {
    display: inline-block;
    white-space: nowrap;
    font-size: 64px;
    font-weight: normal;
    color: #111;
    line-height: 1;
    will-change: transform;
    animation: marquee 12s linear infinite;
}
@keyframes marquee {
    0%   { transform: translateX(0%);}
    100% { transform: translateX(-50%);}
}
.bottom-center-text {
    position: absolute;
    left: 50%;
    bottom: 24px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 64px;
    font-weight: normal;
    color: #111;
    line-height: 1.05;
    background: transparent;
    z-index: 2;
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.8s;
    
}
.about-text {
    position: absolute;
    left: 64px;
    bottom: 83px;
    max-width: 550px;
    font-size: 16px;
    color: #000;
    letter-spacing: 0;
    line-height: 9px;
    z-index: 2;
    background: transparent;
    pointer-events: none;
}
.about-text p {
    margin: 0 0 14px 0;
}

/* Для плавного скролла */
html {
    scroll-behavior: smooth;
}

.gif {
    opacity: 0;
    transition: opacity 0.5s ease-in-out; }