@tailwind base;
@tailwind components;
@tailwind utilities;

.noise {
    background: transparent url("./assets/noise.png") repeat 0 0;
    animation: steps(2) bg-animation 5s infinite;
}

#logo.white {
    filter: invert(1) brightness(2);
}