@import "tailwindcss";
@import "./style.css";

.noise {
    background: transparent url("../assets/noise.png") repeat 0 0;
    animation: steps(2) bg-animation 5s infinite;
}

swiper-container {
    width: 100%;
    height: 100%;
}
