html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100vw;
    background: #fff;
}

body::-webkit-scrollbar {
    display: none;
}

#main-menu .inactive {
    color: #bbb;
}

/* Белое меню на черном фоне */
.white-menu .white-on-scroll a,
.white-menu .white-on-scroll a {
    color: #fff;
}

.white-menu img.white-on-scroll {
    filter: invert(1) brightness(2);
}

label[for="menu-toggle"] div {
    background-color: #000;
}

.white-menu label[for="menu-toggle"] div {
    background-color: #FFF;
}

.marquee-container {
    position: absolute;
    left: 0;
    width: 100vw;
    height: 64px;
    overflow: hidden;
    z-index: 3;
    pointer-events: none;
    background: transparent;
    display: flex;
    align-items: center;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    font-weight: normal;
    color: #111;
    line-height: 1;
    will-change: transform;
    animation: marquee 12s linear infinite;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}